* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F4F4F8;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 73px; 
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  height: 150px;
}

header a.logo-link,
header a.avatar-link {
  display: inline-block;
  text-decoration: none;
}

/* логотип */
header a.logo-link img {
  width: 54px;
  height: 89px;
  margin-right: 146px; 
  display: block;
}

/* меню */
.menu {
  display: flex;
  align-items: center;
  flex-grow: 1; 
}

.menu a,
.menu .dropdown {
  margin-right: 59px;
}

.menu a:last-child {
  margin-right: 0;
}

a {
  color: #251605;
  text-decoration: none;
}

a:hover {
  color: #73C3D1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #F4F4F8;
  color: #251605;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown_content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #F4F4F8;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  color: #251605;
  padding: 12px 16px;
  display: block;
}

.dropdown_content a:hover {
  color: #73C3D1;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #73C3D1;
}

/* Аватар */
header a.avatar-link img {
  width: 61px;
  height: 63px;
  display: block;
  margin-left: auto;
}
.avatar-menu {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.avatar-menu img {
  width: 61px;
  height: 63px;
  cursor: pointer;
  display: block;
}

.avatar-dropdown {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100%; 
  background-color: #F4F4F8;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 10;
  border-radius: 4px;
  min-width: 160px;
}
.avatar-dropdown a {
  display: block;
  padding: 12px 16px;
  color: #251605;
  text-decoration: none;
}

.avatar-dropdown a:hover {
  color: #73C3D1;
}

/* Показывать при наведении */
.avatar-menu:hover .avatar-dropdown {
  display: block;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 73px; 
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  height: 150px;
  background-color: #E6E6EA;
}

footer a.logo-link,
footer a.avatar-link {
  display: inline-block;
  text-decoration: none;
}

/* логотип */
footer a.logo-link img {
  width: 54px;
  height: 89px;
  margin-right: 146px; 
  display: block;
}

/* меню */
.menu {
  display: flex;
  align-items: center;
  flex-grow: 1; 
}

.menu a,
.menu .dropdown {
  margin-right: 59px;
}

.menu a:last-child {
  margin-right: 0;
}

a {
  color: #251605;
  text-decoration: none;
}

a:hover {
  color: #73C3D1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #F4F4F8;
  color: #251605;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
}

.dropdown_content_footer {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  min-width: 160px;
  background-color: #F4F4F8;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content_footer a {
  color: #251605;
  padding: 12px 16px;
  display: block;
}

.dropdown_content_footer a:hover {
  color: #73C3D1;
}

.dropdown:hover .dropdown_content_footer {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #73C3D1;
}

.social_networks a{
    padding-left: 35px;
}

.form_auth {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.auth-wrapper {
  background-color: #E6E6EA;
  padding: 30px;
  width: 530px;
  font-family: "Varela", sans-serif;
  color: #251605;
  text-align: center;
  margin-bottom: 70px;
  border-radius: 5px;
}

.auth-wrapper h2 {
  color: #251605;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 56px;
  margin-top: 32px;
}

.auth-wrapper input[type="text"],
.auth-wrapper input[type="email"],
.auth-wrapper input[type="password"] {
  width: 344px;
  height: 42px;
  padding: 15px;
  font-size: 16px;
  font-family: "Varela", sans-serif;
  color: #251605;
  font-weight: 200;
  background-color: #F4F4F8;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.auth-wrapper input::placeholder {
  color: #251605;
}


.auth-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 344px;
  margin-left: 70px;
  margin-bottom: 28px;
}

.remember-me {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 200;
  color: #251605;
}

.remember-me input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #251605;
  transform: scale(1.7);
}

.auth-wrapper button {
  width: 230px;
  height: 76px;
  padding: 12px;
  background-color: #F4F4F8;
  color: #251605;
  font-family: "Varela", sans-serif;
  font-weight: 300;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.auth-wrapper button:hover {
  background-color: rgba(255, 255, 255, 0.761);
}

